@font-face {
  font-family:'UWL-Gothic';
  src: url(/fonts/URW-Gothic-L/URW-Gothic-L-Demi.ttf);
}

h1 {
  font-family: 'UWL-Gothic', Arial;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.sitecontent {
  padding-top: 50px;
}