@font-face {
  font-family:'UWL-Gothic';
  src: url(/fonts/URW-Gothic-L/URW-Gothic-L-Demi.ttf);
}

@font-face {
  font-family: 'Noto';
  src: url(/fonts/NotoSansCJK_SC/NotoSansCJKsc-Regular.otf);

}

.backsoon {
  font-family: 'UWL-Gothic', Arial;
  font-weight: 200;
  color: #333333;
  font-size: 2.5em;
  
}


.updating {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
}

.logo {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.sitecontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
