@font-face {
  font-family:'UWL-Gothic';
  src: url(/fonts/URW-Gothic-L/URW-Gothic-L-Book.ttf);
}

@font-face {
  font-family: 'Noto';
  src: url(/fonts/NotoSansCJK_SC/NotoSansCJKsc-Regular.otf);

}

h1 {
  font-family: 'UWL-Gothic', Arial;
}

h3 {
  font-family: 'Noto', Arial, Helvetica, sans-serif;
}

.logo {
  width: 400px;
}

.sitecontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
